.container {
    background-color: rgba(31, 41, 55);
    height: 100vh;
}



header{
    background: rgb(3,78,157);
    background: linear-gradient(90deg, rgba(3,78,157,1) 0%, rgba(131,58,180,1) 57%, rgba(163,58,180,1) 100%);
    height: 500px;
}
/****** search nav *******/
.nav{
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    margin: 30px;

}
.nav ul{
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
    font-size: 0.8rem;
}
.search {
    border: 1px solid rgba(218, 218, 218, 0.377);
    background-color: rgba(41, 40, 40, 0.308);
    border-radius: 8px;
    min-height: 20px;
    max-width: 180px;
    margin-right: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end;

  }
  .search input{
      border: none;
      outline: none;
      height: 100%;
      width: 100%;
      background-color: transparent;
      color: #fff;
  }
  .search::after{
      content: url(../img/svg/search.svg);
      margin-right: 5px;
      margin-left: 5px;
  }


  /****** BOX PARCEL *******/

  .boxText {
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    
}
  .boxImg .adaptive-img--contain {
      height: 141px;
      width: 191px;
      margin: 0 20px;
  }


  .hideText {
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;

  }
  .text{
      height: 150px;
      justify-content: center;


  }
  h1::after {
      content: url(../img/svg/textParcel.svg);
  }
  h1{
      width: 350px;
      color: rgb(247, 85, 85);
  }

