@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/***********************************************************************/
/***************************** BODY / HTML *****************************/
/***********************************************************************/
*:not(head, script, table, tbody, tfoot, thead, tr, td, th),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  flex: 1 0;
  line-height: 1.5;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

html,
body {
  overflow: auto;
}

/************************************************************************/
/***************************** ADAPTIVE-IMG *****************************/
/************************************************************************/
*[class*=adaptive-img] {
  position: relative;
}

*[class*=adaptive-img] > span,
*[class*=adaptive-img] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*=adaptive-img] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*=adaptive-img] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

/***********************************************************************/
/***************************** TITLE RESET *****************************/
/***********************************************************************/
h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  background-color: #1f2937;
  height: 100vh;
}

header {
  background: #034e9d;
  background: linear-gradient(90deg, #034e9d 0%, #833ab4 57%, #a33ab4 100%);
  height: 500px;
}

/****** search nav *******/
.nav {
  display: flex;
  flex-direction: row-reverse;
  height: 30px;
  margin: 30px;
}

.nav ul {
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.671);
  font-size: 0.8rem;
}

.search {
  border: 1px solid rgba(218, 218, 218, 0.377);
  background-color: rgba(41, 40, 40, 0.308);
  border-radius: 8px;
  min-height: 20px;
  max-width: 180px;
  margin-right: 10px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.search input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: #fff;
}

.search::after {
  content: url(../img/svg/search.svg);
  margin-right: 5px;
  margin-left: 5px;
}

/****** BOX PARCEL *******/
.boxText {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.boxImg .adaptive-img--contain {
  height: 141px;
  width: 191px;
  margin: 0 20px;
}

.hideText {
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.text {
  height: 150px;
  justify-content: center;
}

h1::after {
  content: url(../img/svg/textParcel.svg);
}

h1 {
  width: 350px;
  color: #f75555;
}

/*# sourceMappingURL=output.css.map */
